html, body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: "SegoeUI", sans-serif;
}

.view {
  
}

.view-topbar {
  position: absolute;
  background: #e71348;
  height: 48px;
  width: 100%;
}

.view-topbar-item {
  color: #FFF;
  font-size: 18px;
  line-height: 32px;
  display: inline-block;
  margin: 6px 10px;
  padding: 2px 8px;
  cursor: pointer;
}

.view-topbar-item-selected {
  color: #e71348;
  background: #FFF;
}

.view-topbar-rightcommand {
  position: absolute;
  color: #FFF;
  right: 10px;
  top: 0;
  line-height: 48px;
  cursor: pointer;
}

.view-content {
  position: absolute;
  top: 48px;
  bottom: 35px;
  width: 100%;
  overflow-y: auto;
}

.view-footer {
  position: absolute;
  background: #e71348;
  bottom: 0;
  height: 35px;
  width: 100%;
}

.view-footer-textbox {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 100px;
  bottom: 3px;
}

.view-footer.textbox input {
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 3px 8px;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "SegoeUI", sans-serif;
  border-radius: 4px;
}

.view-footer-submit {
  font-size: 16px;
  position: absolute;
  right: 0px;
  width: 100px;
  text-align: center;
  line-height: 35px;
  color: #FFF;
}

