html, body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: "SegoeUI", sans-serif;
}

.view {

}

.view-topbar {
  position: absolute;
  background: #e71348;
  height: 48px;
  width: 100%;
}

.view-topbar-item {
  color: #FFF;
  font-size: 18px;
  line-height: 32px;
  display: inline-block;
  margin: 6px 10px;
  padding: 2px 8px;
  cursor: pointer;
}

.view-topbar-item-selected {
  color: #e71348;
  background: #FFF;
}

.view-topbar-rightcommand {
  position: absolute;
  color: #FFF;
  right: 10px;
  top: 0;
  line-height: 48px;
  cursor: pointer;
}

.view-content {
  position: absolute;
  top: 48px;
  bottom: 35px;
  width: 100%;
  overflow-y: auto;
  background: #f5f5f5;
}

.view-content-title {
  font-size: 32px;
  padding: 20px;
}

.view-content-items {
  padding: 20px;
}

.view-content-items-item {
  margin-bottom: 10px;
  background: #FFF;
  margin: 20px 0px 30px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-width: 0.5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  position: relative;
}

.vciitem-title {
  padding: 12px;
  font-size: 18px;
}

.vciitem-time {
  text-align: right;
  font-size: 12px;
  padding: 3px 12px;
  color: #555;
}

.vciitem-seperator {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #CCC;
}

.vciitem-personen {
  display: inline-block;
  padding: 6px 110px 6px 12px;
  font-size: 14px;
}

.vciitem-state {
  position: absolute;
  font-size: 14px;
  padding: 6px 12px;
  right: 0px;
  max-width: calc(110px - 24px);
  display: inline-block;
}

.vciitem-answer {

}

.vciitem-answer-tag {
  font-size: 12px;
  padding: 3px 12px;
  color: #555;
}

.vciitem-answer-text {
  padding: 6px 12px;
  font-size: 18px;
}

.vciitem-answer-score {
  padding: 0px 12px 6px;
}

.vciitem-answer-noanswer {
font-style: italic;
text-align: center;
padding: 8px;
color: #555;
}


.vciitem-command {
  text-align: center;
  padding: 6px;
  font-size: 16px;
}


.view-footer {
  position: absolute;
  background: #e71348;
  bottom: 0;
  height: 35px;
  width: 100%;
}

.view-footer-textbox {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 100px;
  bottom: 3px;
}

.view-footer-textbox input {
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 3px 8px;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "SegoeUI", sans-serif;
  border-radius: 4px;
}

.view-footer-submit {
  font-size: 16px;
  position: absolute;
  right: 0px;
  width: 100px;
  text-align: center;
  line-height: 35px;
  color: #FFF;
  cursor: pointer;
}
